/* ----- START GLOBAL ROLE ----- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  margin: 0
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: #1e202b;
}

/* ----- START NAV BAR ----- */
.navbar {
  background-color: #1e202b;
  color: #fff;
  padding: 10px 0;
}

.navbar .logo {
  width: 64px;
  margin-right: 10px;
}

.navbar .logo-type h6 {
  font-size: 16px;
  margin-bottom: 5px;
}

.navbar .logo-type p {
  font-size: 10px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 5px 25px;
  color: white;
  font-size: 14px;
  border: 2px solid #1e202b;
  border-radius: 20px;
  transition: 0.5s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #009AD8;
  border-color: #009AD8;
}

.navbar-expand-lg .navbar-nav .nav-link.active {
  color: #009AD8;
  border-color: #009AD8;
}

.nav-item {
  margin-left: 10px;
}

/* ----- START LANDING PAGE ----- */

.landing {
  background-image: url(../img/banner.png);
  background-position: center;
  background-size: cover;
  /* height: calc(100vh - 70px); */
}



.search-input input {
  width: 100%;
  margin: auto;
  padding: 20px 50px 20px 20px;
  background: #1e202b;
  color: white;
  outline: none;
  border: none;
  border-radius: 30px;
  margin-bottom: 70px;
}

.search-input button {
  top: 5px;
  right: 5px;
  height: 55px;
  padding: 0 40px;
  border-radius: 30px;
  background-color: #009AD8;
  border: none;
  color: white;
}

.second-box,
.last-box {
  height: 100%;
}


.first-box {
  background-color: #323544;
  color: white;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}

.first-box .header {
  padding: 10px;
  background-color: #2D303D;
}

.first-box .header h3 {
  font-size: 14px;
  color: #BFC1C8;
  margin: 0;
  font-weight: normal;
}

.first-box .body {
  padding: 30px 20px;
}

.first-box .body h3 {
  margin: 0;
  font-size: 18px;
  color: #BFC1C8;
}

.first-box .body .dagree h4 {
  font-size: 90px;
  margin: 0 30px 0 0;
}

.first-box .body .dagree .img {
  flex: 1;
}

.first-box .body .dagree .img img {
  width: 90px;
}

.first-box .body p {
  margin: 20px 0;
  color: #009AD8;
}

.first-box .body span {
  color: #BFC1C8;
  margin-right: 20px;
}

.first-box .body span img {
  margin-right: 5px;
}

.second-box {
  background-color: #262936;
  color: white;
  overflow: hidden;
}

.second-box .header {
  padding: 10px;
  background-color: #222530;
}

.second-box .header h3 {
  font-size: 14px;
  font-weight: normal;
  color: #BFC1C8;
  margin: 0;
}

.second-box .body {
  padding: 50px 20px 10px;
}

.second-box .body img {
  margin-bottom: 20px;
  width: 48px;
}

.second-box .body h4 {
  font-size: 24px;
  margin: 0;
  font-weight: 700;
}

.second-box .body small {
  color: #BFC1C8;
}

.second-box .body p {
  color: #009AD8;
  margin: 20px 0;
}

.last-box {
  background-color: #323544;
  border-radius: 0 10px 10px 0;
  overflow: hidden;
  color: white;
}

.last-box .header {
  padding: 10px;
  background-color: #2D303D;
}

.last-box .header h3 {
  font-size: 14px;
  font-weight: normal;
  color: #BFC1C8;
  margin: 0;
}

.last-box .body {
  padding: 50px 20px 10px;
}

.last-box .body img {
  margin-bottom: 20px;
  width: 48px;
}

.last-box .body h4 {
  font-size: 24px;
  margin: 0;
  font-weight: 700;
}

.last-box .body small {
  color: #BFC1C8;
}

.last-box .body p {
  color: #009AD8;
  margin: 20px 0;
}

/* ----- START FOOTER STYLE ----- */

.footer {
  background-color: #262936;
}

.footer .subscribe input {
  width: 100%;
  background-color: #1e202b;
  padding: 20px 100px 20px 20px;
  color: white;
  border-radius: 440px;
  outline: none;
  border: none;
}

.footer .subscribe button {
  position: absolute;
  right: 17px;
  top: 5px;
  bottom: 5px;
  outline: none;
  border: none;
  background-color: #009AD8;
  color: white;
  border-radius: 40px;
  padding: 10px 20px;
}

.footer ul li a {
  width: 40px;
  height: 40px;
  background-color: #1E202B;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 5px;
  color: #009AD8;
  font-size: 1.42857em;
  transition: 0.3s;
}

.footer p {
  color: white;
  margin: 20px 0 0; 
}

.footer ul li:hover a {
  background-color: #009AD8;
  color: white;
}


@media screen and (max-width: 991px) {
  .first-box, .second-box , .last-box {
    border-radius: 10px;
  }
}